* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;

  background-color: rgb(255, 250, 250);
}
/* Comment*/
.navbar {
  width: 96%;
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 5px;
  flex-wrap: wrap;
}

.upload-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.upload-btn:hover {
  background-color: #3e8e41;
}



.logo {
  font-weight: bold;
  cursor: pointer;
}

.chat-container {
  width: 96%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 425px;
  overflow-y: auto;
  background-color:#f0f0f0;
  border-radius: 5px;

  padding: 10px;
}
/* Comment */
#fileInput {
  display: none;
}

#fileInput {
  display: none;
}

.file-name {
  margin-top: -5px;
  margin-left: -900px;
  font-size: 14px;
  color: #333;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#question {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 140px);
  margin-bottom: 10px;
}

#submit-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#submit-button:hover {
  background-color: #3e8e41;
}

.loader {
  display: none;
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #fff 90%, transparent) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.hidden {
  display: none;
}

.user {
  color: rgb(39, 204, 61);
  font-weight: 600;
  margin-top: 8px;
}

.ai {
  font-weight: 500;
  margin-top: 3px;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .navbar,
  .chat-container,
  .input-container {
    width: 98%;
  }

  .upload-btn {
    width: 60%;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #question {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  #submit-button {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 480px) and (min-width:560px){
  .navbar {
    flex-direction: column;
  }

  .upload-btn {
    margin-bottom: 10px;
  }
}


.hidden {
  display: none;
}

.blob {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}