<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Chat Bot</title>
    <link rel="icon" type="image/x-icon" href="/static/css/favicon.jpg">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main-conatiner">
          <div class="navbar">
            <div class="upload-file">
                <input type="file" id="fileInput" class="input-file">
            </div>
            <div class="logo">
                <p>Ask me anything about your PDF </p>
            </div>
          </div>
           
    <div class="chat-conatiner">

    </div>
</div>
    <script src="/js/app.j"></script>
</body>
</html>
