<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Chat Bot</title>
    <link rel="icon" type="image/x-icon" href="/static/css/favicon.jpg" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="main-container">
      <!-- comment added -->
      <!-- testing phase -->
      <div class="navbar">
        <label for="fileInput" class="upload-btn">Upload PDF</label>
        <input type="file" id="fileInput" name="file" accept=".pdf" />
        <div class="logo">
          <p>Chat with PDF</p>
        </div>
      </div>
      <div class="chat-container" id="chatContainer"></div>
      <!-- <div class="loader" id="loader"></div> -->
      <div class="input-container visible">
        <input type="text" id="question" placeholder="Ask Question Here" />
        <button id="submit-button">Send</button>
      </div>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
